<template>
  <b-card class="w-100 mx-auto">
    <template #header>
      <div id="container" class="col-12 d-flex">
        <!-- <a id="button-board" class="button button-header" href="#">
          Boards
          <img
            id="arrow-hover"
            src="https://github.com/atloomer/atloomer.github.io/blob/master/img/iconmonstr-paper-plane-1-120.png?raw=true"
          />
        </a> -->
        <b-dropdown split text="Boards" class="button-header">
          <b-dropdown-item v-for="tab in table_list" :key="tab.id" :href="/list/+tab.id">
            {{tab.title}}
          </b-dropdown-item>
        </b-dropdown>
        <input v-model="table.title" class="button button-header" />
        <span @click="onUpdateTable()" class="button" id="star-icon">
          <b-icon icon="star-fill" variant="warning" scale="1"></b-icon>
        </span>
        <span class="board-header-btn-divider"></span>
        <div class="board-header-btns mod-left">
          <div
            class="
              board-header-facepile
              js-fill-facepile js-list-draggable-board-members
            "
          >
            <a class="member js-member ui-draggable"></a>
            <a class="member js-member ui-draggable"></a>
            <a class="member js-member ui-draggable"></a>
          </div>
          <b-button class="button" id="invite-btn" v-b-modal.modal-1
            >Invite</b-button
          >
          <b-modal hide-footer id="modal-1" title="Member List">
            <div class="member-list">
              <div
                v-for="member in member_list"
                :key="member.id"
                class="member-list-course d-flex justify-content-between mt-2"
              >
                <div class="d-flex member-infor">
                  <img class="member" />
                  <span class="name_member ml-2">{{ member.full_name }}</span>
                </div>
                <div class="btn btn-primary">Invite</div>
              </div>
            </div>
          </b-modal>
        </div>
      </div>
    </template>

    <div class="col-12 d-flex body-list">
      <div v-for="list in table.lists" :key="list.id" class="col-lg-3">
        <div class="js-list list-wrapper">
          <b-card class="list-card">
            <template #header>
              {{ list.title }}
            </template>
            <div class="card-work d-flex justify-content-between">
              <div>Add a card</div>
              <div>
                <b-icon icon="node-plus"></b-icon>
              </div>
            </div>
          </b-card>
        </div>
      </div>
      <div class="col-lg-3">
        <a
          id="button-1"
          class="button button-body"
          @click="$bvModal.show('modal-new-list')"
        >
          <span> </span>
          Add Another List
        </a>
        <b-modal id="modal-new-list" hide-footer>
          <template #modal-title> Add new List </template>
          <div class="d-block">
            <b-form class="form-search position-relative mt-2">
              <b-form-input
                v-model="newList.title"
                class="mb-2 mr-sm-2 mb-sm-0 w-100 input-search"
                placeholder="Add list title"
              >
              </b-form-input>
              <b-button class="mt-4" @click.prevent="onSubmit()" variant="info"
                >Create List</b-button
              >
            </b-form>
          </div>
        </b-modal>
      </div>
    </div>
    <b-toast id="toast-add-success" variant="success" solid>
      <template #toast-title>
        <strong class="mr-auto">Alert</strong>
      </template>
      Thêm thành công List
    </b-toast>
    <b-toast id="toast-update-success" variant="success" solid>
      <template #toast-title>
        <strong class="mr-auto">Alert</strong>
      </template>
      Update thành công List
    </b-toast>
  </b-card>
</template>

<script>
import axios from "axios";
import { BASE_URL } from "~/constants/constants";

export default {
  data() {
    return {
      table: {},
      newList: {},
      member_list: [],
      table_list: []
    };
  },
  mounted() {
    this.getTable();
    this.getMemberList();
    this.getTableList();
  },
  methods: {
    getTable() {
      axios
        .get(`${BASE_URL}/table/${this.$route.params.id}`)
        .then((respone) => (this.table = respone.data.data))
        .catch((error) => alert(error));
    },

     getTableList() {
      axios
        .get(`${BASE_URL}/table/`)
        .then((respone) => (this.table_list = respone.data.data))
        .catch((error) => alert(error));
    },

    getMemberList() {
      axios
        .get(`${BASE_URL}/user`)
        .then((respone) => (this.member_list = respone.data.data))
        .catch((error) => alert(error));
    },
    onSubmit() {
      this.newList.table_id = this.$route.params.id;
      axios
        .post(`${BASE_URL}/list-card`, this.newList)
        .then(() => {
          this.$bvModal.hide("modal-new-list");
          this.$bvToast.show("toast-add-success");
          this.newList = {};
          this.getTable();
        })
        .catch((error) => alert(error));
    },
    onUpdateTable() {
      delete this.table.lists;
      axios
        .put(`${BASE_URL}/table/${this.$route.params.id}`,this.table)
        .then(() => {
          this.$bvToast.show("toast-update-success");
          this.getTable();
        })
        .catch((error) => alert(error));
    }
  }
}
</script>

<style scoped>
#container {
  padding-top: 10px;
  padding-bottom: 10px;
}

#container a {
  text-decoration: none;
  color: white;
}

.card-header {
  padding: 0;
  border: none;
  width: auto;
}

.card {
  background-image: url("../../assets/images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body {
  padding: 0;
  height: 700px;
  overflow-x: auto;
}

.button-body {
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.button {
  display: inline-flex;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 4px;
  padding: 5px 5px;
}

#arrow-hover {
  width: 15px;
  height: 10px;
  position: absolute;
  transform: translateX(60px);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.14, 0.59, 1, 1.01);
  transition: all 0.15s cubic-bezier(0.14, 0.59, 1, 1.01);
  margin: 0;
  padding: 0 5px;
}

.button-header {
  width: 100px;
  margin-right: 5px;
}

a#button-board:hover img {
  width: 25px;
  opacity: 1;
  transform: translateX(35px);
}

#button-1 {
  text-decoration: none;
  color: white;
}

#button-1::before {
  font-family: "Font Awesome 5 Free";
  content: "+";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}

#button-1:hover {
  opacity: 0.8;
}

.body-list {
  padding: 10px 0 0 0;
}

.board-header-btn-divider {
  float: left;
  border-left: 2px solid white;
  height: auto;
  margin: 5px 8px 1px 4px;
}

.board-header-facepile {
  cursor: default;
  float: left;
  overflow: hidden;
  padding: 2px 0 0 2px;
}

.mod-left {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.member {
  background-color: #dfe1e6;
  border-radius: 25em;
  color: #172b4d;
  cursor: pointer;
  display: block;
  float: left;
  height: 32px;
  overflow: visible;
  position: relative;
  width: 32px;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.list-wrapper {
  width: 272px;
  height: 621px;
  margin: 0 4px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  border-radius: 4px;
}
.list-wrapper .card-header {
  background-color: #ebecf0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid black;
}
.list-wrapper .card-body {
  max-height: 62px;
  background-color: #ebecf0;
}

#invite-btn {
  margin-left: 10px;
  cursor: pointer;
}

.member-list-course {
  width: 100%;
}

.member-infor {
  align-items: center;
}

.list-card .card-body {
  padding: 10px;
}

.card-work {
  background-color: white;
  height: 40px;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
}

.card-work:hover {
  background-color: whitesmoke;
}

.dropdown-item{
  background-color: tomato;
}

.button-header .dropdown-item {
  background-color: red;
}

#star-icon{
  cursor: pointer;
}
</style>
