<template>
  <div class="p-0">
    <b-card>
    <template #header>
      <h3 class="mb-0 d-inline-block">Edit User : </h3>
      <h3 class="mb-0 d-inline-block">{{user.email}}</h3>
    </template>
    <ValidationObserver ref="observer" tag="form" >
    <b-form>
      <b-form-group label="Full name:" label-for="input-name">
        <ValidationProvider v-slot="{ errors }" rules="required" name="Full name">
        <b-form-input v-model="user.full_name" id="input-name" placeholder="Enter full name"></b-form-input>
        <span style="color:red;">{{ errors[0] }}</span>
        </ValidationProvider>
      </b-form-group>

      <b-form-group label="Phone Number:" label-for="input-phone">
        <ValidationProvider v-slot="{ errors }" rules="required" name="Phone number">
        <b-form-input v-model="user.phone_number" id="input-phone" placeholder="Enter phone number"></b-form-input>
        <span style="color:red;">{{ errors[0] }}</span>
        </ValidationProvider>
      </b-form-group>

      <b-form-group label="Password:" label-for="input-password">
        <ValidationProvider v-slot="{ errors }" rules="required" name="Password">
        <b-form-input v-model="user.password" id="input-password" type="password"></b-form-input>
        <span style="color:red;">{{ errors[0] }}</span>
        </ValidationProvider>
      </b-form-group>

      <!-- <b-form-group label="Role :">
        <ValidationProvider v-slot="{ errors }" rules="required" name="Role">
        <b-form-radio-group v-model="user.role" name="radio-role">
          <b-form-radio value="1">Admin</b-form-radio>
          <b-form-radio value="2">Manager</b-form-radio>
          <b-form-radio value="3">Member</b-form-radio>
        </b-form-radio-group>
        <span style="color:red;">{{ errors[0] }}</span>
        </ValidationProvider>
      </b-form-group> -->

      <b-button @click.prevent="onSubmit()" class="mt-3" type="submit" variant="primary">Submit</b-button>
      <b-button class="mt-3" type="reset" variant="danger">Reset</b-button>
    </b-form>
    </ValidationObserver>
  </b-card>
  <b-toast id="toast-update-success" variant="success" solid>
      <template #toast-title>
          <strong class="mr-auto">Alert</strong>
      </template>
      Update thành công User
    </b-toast>
  </div>
</template>

<script>
import axios from 'axios';
import { ValidationProvider } from "vee-validate";
import {BASE_URL} from '@/constants/constants';
  export default {
    components: {
      ValidationProvider
    },
    data() {
      return {
        user: {},
      }
    },
    mounted() {
      this.getUser();
    },
    methods: {
      /**
       * Get User By ID
       */
      getUser() {
          axios
          .get(`${BASE_URL}/user/${this.$route.params.id}`)
          .then(respone => {
          this.user = respone.data.data;
          this.user.password = '';
          })
          .catch(error => {alert(error)})
      },
      /**
       * Update User by ID
       */
      updateUser() {
        axios
        .put(`${BASE_URL}/user/${this.$route.params.id}`, this.user)
        .then(() => {
          this.$bvToast.show('toast-update-success');
          setTimeout(() => {
            this.$router.push('/user');
          },1500);
        })
        .catch(error => {alert(error)})
      },
      /**
       * Submit check Validate and update User
       */
      async onSubmit() {
        const isValid = await this.$refs.observer.validate();
        if (!isValid) {
        window.scrollTo(0, 0);
        }else{
          this.updateUser();
        }
      },
    }
  }
</script>

<style>

</style>
