<template>
  <b-card class="w-100 mx-auto">
    <template #header>
      <h4 class="mb-0">List User</h4>
    </template>
    <b-card-body>
    <FormSearchUser @on-search="getListUser($event)"/>
    <ListUser v-if="listUser.length > 0" :list-user="listUser" @on-delete="getListUser()"/>
    <b-alert :show="listUser.length === 0" variant="danger">Không tìm thấy User!</b-alert>
    </b-card-body>
  </b-card>
</template>

<script>
import axios from 'axios'
import FormSearchUser from '@/components/user/FormSearchUser.vue';
import ListUser from '@/components/user/ListUser.vue';
import {BASE_URL} from '~/constants/constants.js';
  export default {
    components: {
      FormSearchUser,
      ListUser
    },
    data() {
      return {
        listUser : [
          {'email' : ''}
        ]
      }
    },
    mounted() {
      this.getListUser();
    },
    /**
      * Get All User or Search by full name
      */
    methods: {
      getListUser(keySearch = '') {
          axios
        .get(`${BASE_URL}/user?name=${keySearch}`)
        .then(response => (this.listUser = response.data.data))
        .catch(error => alert(error))
      },
    }
  }

</script>

<style>
    
</style>
