<template>
  <div class="form-search mb-3">
        <form @submit.prevent="handleSearch()" class="form-group row">
          <div class="col-sm-12">
            <input id="inputSearch" v-model="keySearch" type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-outline-success btn-search mt-4 mx-auto">Search</button>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            keySearch: ''
        }
    },
    methods: {
        handleSearch() {
            this.$emit('on-search', this.keySearch);
        }
    }
}
</script>

<style>

</style>