<template>
<div class="p-0">
    <table class="list-user table table-bordered text-center">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Họ Tên</th>
              <th scope="col">Email</th>
              <th scope="col">Số điện thoại</th>
              <th scope="col">Quyền</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in listUser" :key="user.id">
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.full_name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone_number }}</td>
              <td>{{user.role ? 'Admin' : 'Member'}}</td>
              <td><nuxt-link :to="'/user/' + user.id"><button type="button" class="btn btn-outline-primary">Edit</button></nuxt-link></td>
              <td><button @click="handleDelete(user.id)" type="button" class="btn btn-outline-danger">Delete</button></td>
            </tr>
          </tbody>
    </table>
    <b-toast id="toast-del-success" variant="success" solid>
      <template #toast-title>
          <strong class="mr-auto">Alert</strong>
      </template>
      Xóa thành công User
    </b-toast>
</div>
</template>

<script>
import axios from 'axios';
import {BASE_URL} from '~/constants/constants'
export default {
    props: {
        listUser: {
            type: Array,
            default: () => []
        }
    },
    methods: {
        handleDelete(userId) {
            if(confirm(`Bạn muốn xóa user ${userId} ?`))
            {
                axios
                .delete(`${BASE_URL}/user/${userId}`)
                .then(() => {
                    window.scrollTo(0, 0);
                    this.$bvToast.show('toast-del-success');
                    this.$emit('on-delete');
                })
                .catch(error => {alert(error)})
            }
        }
    }
}
</script>

<style>
.list-user {
        font-size: 14px;
    }
</style>