<template>
  <div class="wrapper">
    <div class="form-search-table w-50 mx-auto mt-3">
      <form @submit.prevent="getTables()" class="form-group row">
        <div class="col-sm-12">
          <input v-model="inputSearch" id="inputSearch" type="text" class="form-control" placeholder="Search board">
        </div>
        <button type="submit" class="btn btn-outline-success btn-search mt-2 mx-auto">Search</button>
      </form>
    </div>
    <div class="head-body mb-3">
      <b-icon class="icon-head-body d-inline-block" scale="1.5" icon="bookmark-star-fill"></b-icon>
      <h3 class="d-inline-block mb-0">LIST BOARDS</h3>
    </div>
    <b-container class="list-board w-100" fluid>
      <b-row>
        <b-col class="p-0 d-flex position-relative justify-content-center" v-for="table in listTable" :key="table.id"
          cols="3">
          <nuxt-link :to="'/list/' + table.id">
            <div class="broad-item position-relative">
              <img src="https://picsum.photos/250/125.jpg">
              <p class="position-absolute text-webkit">{{ table.title }}</p>
            </div>
          </nuxt-link>
          <b-avatar button @click="onDelete(table.id, table.title)" class="position-absolute btn-delete" size="2em">X
          </b-avatar>
        </b-col>
        <b-col class="p-0 d-flex justify-content-center" cols="3">
          <div @click="$bvModal.show('modal-new-table')" class="new-board m-0">
            <div class="broad-item d-flex align-content-center flex-wrap">
              <p class="text-center d-block m-0 p-0 w-100">Create new boards</p>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <div>
      <b-modal id="modal-new-table" hide-footer>
        <template #modal-title>
          Add new Table
        </template>
        <div class="d-block">
          <ValidationObserver ref="observer" tag="form">
            <b-form class="form-search position-relative mt-2">
              <ValidationProvider v-slot="{ errors }" rules="required" name="Title Table">
              <b-form-input v-model="newTable.title" class="mb-2 mr-sm-2 mb-sm-0 w-100 input-search"
              placeholder="Add table title">
              </b-form-input>
              <span class="position-absolute alert-validate">{{ errors[0] }}</span>
              </ValidationProvider>

              <b-button class="mt-4" @click="onSubmit()" variant="info">Create table</b-button>
            </b-form>
          </ValidationObserver>
          <div class="footer-modal w-100 mt-5">
            <img class="d-block h-100 float-right" src="http://devfast.us/images/devfast-logo.png">
          </div>
        </div>
      </b-modal>
    </div>

    <b-toast id="toast-add-success" variant="success" solid>
      <template #toast-title>
        <strong class="mr-auto">Alert</strong>
      </template>
      Thêm thành công Table
    </b-toast>

    <b-toast id="toast-del-success" variant="success" solid>
      <template #toast-title>
        <strong class="mr-auto">Alert</strong>
      </template>
      Xóa thành công Table
    </b-toast>

  </div>
</template>

<script>
  import axios from 'axios';
  import {
    ValidationProvider
  } from "vee-validate";
  import {
    BASE_URL
  } from '@/constants/constants';
  export default {
    components: {
      ValidationProvider
    },
    data() {
      return {
        listTable: [],
        inputSearch: '',
        newTable: {
          title: ''
        }
      }
    },
    created() {
      this.getTables();
    },
    methods: {
      /**
       * Get All Table or Search by Title Table
       */
      getTables() {
        axios
          .get(`${BASE_URL}/table?title=${this.inputSearch}`)
          .then(respone => (this.listTable = respone.data.data))
          .catch(error => alert(error))
      },
      /**
       * Create New Table
       */
      onCreateTable() {
        axios
          .post(`${BASE_URL}/table`, this.newTable)
          .then(() => {
            this.$bvModal.hide('modal-new-table');
            this.$bvToast.show('toast-add-success');
            this.newTable = {};
            this.getTables();
          })
          .catch(error => alert(error))
      },
      /**
       * Submit check Validate and call function Create New Table
       */
      async onSubmit() {
        const isValid = await this.$refs.observer.validate();
        if (!isValid) {
          window.scrollTo(0, 0);
        } else {
          this.onCreateTable();
        }
      },
      /**
       * Delete Table by ID
       */
      onDelete(tableId, tableTitle) {
        if (confirm(`Bạn muốn xóa table ${tableTitle} ?`)) {
          axios
            .delete(`${BASE_URL}/table/${tableId}`)
            .then(() => {
              window.scrollTo(0, 0);
              this.$bvToast.show('toast-del-success');
              this.getTables();
            })
            .catch(error => {
              alert(error)
            })
        }
      }
    }
  }

</script>

<style scoped>
  .icon-head-body {
    margin-left: 30px;
  }

  .broad-item {
    width: 250px;
    height: 125px;
    margin-bottom: 20px;
  }

  .broad-item:hover {
    box-shadow: 5px 5px 5px 5px #888888;
    opacity: 80%;
    cursor: pointer;
  }

  .broad-item p {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    width: 80%;
    top: 5px;
    left: 10px;
  }

  .text-webkit {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 0 0 #757575, -1px 0 0 #757575, 0 1px 0 #757575, 0 -1px 0 #757575, 1px 1px #757575, -1px -1px 0 #757575, 1px -1px 0 #757575, -1px 1px 0 #757575;
  }

  .new-board {
    background-color: #757575;
    width: 250px;
    height: 125px;
    cursor: pointer;
  }

  .new-board p {
    color: black;
    font-size: 14px;
  }

  .footer-modal {
    height: 40px;
  }

  .alert-validate {
    color: red;
    font-size: 12px;
    left: 2px;
    bottom: 40px;
  }

  .btn-delete {
    top: 2px;
    right: 33px;
    font-size: 15px;
    background-color: #EDEFF0;
    color: #000;
    font-weight: bold;
    z-index: 5;
  }

  .btn-delete:hover {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
  }

</style>
