<template>
    <div class="col-left-sidebar">
        <div class="left-sidebar">
            <div class="position-relative">
                            <div class="categories-nav">
                                <div class="box-nav on-left-sidebar">
                                    <div class="sub-menu collapse show">
                                        <ul>
                                           <nuxt-link to="/"><li><img class="icon" src="~assets/images/completed-task.png"/>Boads</li></nuxt-link>
                                           <nuxt-link to="/user"><li><img class="icon" src="~assets/images/list.png"/>List Member</li></nuxt-link>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
    </div>
</template>
<style>
.col-left-sidebar {
    width: 253.2px;
    min-height: calc(100vh - 66px);
}

.left-sidebar {
    height: 100%;
    background: #fff;
}

.on-left-sidebar {
    height: 100%;
}

.show ul {
    list-style: none;
    margin:0;
    padding:0;  
}

.show ul li{
    padding:10px;
    text-decoration: none;
    color:black;
}

.icon{
    width:15px;
    height: 15px;
    position: relative;
    top:-2px;
    margin-right:20px;
    margin-left:20px
}
</style>

