<template>
  <div class="d-app">
        <div class="row no-gutters">
            <AppMenu />
            <div class="col-12 col-lg-9 col-xl-10 col-main-body">
                <AppHeader />
                <main class="d-body">
                     <nuxt></nuxt>
                </main>
            </div>
        </div>
        <AppFooter />
    </div>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue'
import AppFooter from '@/components/AppFooter.vue'
import AppMenu from '@/components/AppMenu.vue'
export default {
  components: {
    AppHeader,
    AppFooter,
    AppMenu
  }
}
</script>

<style>
 .d-app {
    min-height: 100vh;
    background: #edeff0;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(237, 239, 240);
    overflow: hidden;
    padding-top: 66px;
  }
</style>